// 颜色定义规范
$color-background: #dddddd;
$color-background-d: #cccccc;
$color-highlight-background: #bbbbbb;
$color-dialog-background: #aaaaaa;
$color-theme: #55295b;
$color-theme-d: #460e44;
$color-sub-theme: #d93f30;
$color-text: #4a5a6a;
$color-text-d: #3a4a5a;
$color-text-l: #2a3a4a;
$color-text-ll: #1a2a3a;
// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
